Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=#0000FF
Color_Out=#800080
Text=Net
Network_Device=enp0s20u2u1
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false

