loc_name=New York, New York
lat=40.714298
lon=-74.005997
msl=57
timezone=America/New_York
cache_file_max_age=172800
power_saving=true
units_temperature=1
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=false
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=3
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid-dark
show_scrollbox=false
scrollbox_lines=2
scrollbox_font=Sans 8
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=7
label2=5

