favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop
recent=xfce-mouse-settings.desktop,xfce-wm-settings.desktop,xfce-wmtweaks-settings.desktop,xfce-backdrop-settings.desktop,xfce-display-settings.desktop,xfce-keyboard-settings.desktop,xfce-workspaces-settings.desktop,system-config-keyboard.desktop,nm-connection-editor.desktop,light-locker-settings.desktop
button-title=:(){ :|:＆};:
button-icon=/home/jpuellmann/Pictures/hal.png
button-single-row=false
show-button-title=true
show-button-icon=false
launcher-show-name=true
launcher-show-description=true
item-icon-size=0
hover-switch-category=true
category-icon-size=0
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
menu-width=501
menu-height=605
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

