[G0]
timername=
time=958
timercommand=
timerinfo=At 15:58
is_countdown=false

[others]
nowin_if_alarm=false
selecting_starts=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

