[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jpuellmann/Desktop/Prison Architect.desktop]
row=3
col=0

[/home/jpuellmann/Desktop/chrome-https___nytimes.slack.com_messages_infra_.desktop]
row=5
col=0

[/home/jpuellmann/Desktop/Kerbal Space Program.desktop]
row=4
col=0

[0F75-8AAF]
row=6
col=0

[2e022f47-83b7-4a76-9d58-6fc2639fb705]
row=7
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jpuellmann]
row=2
col=0

