[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jpuellmann/Desktop/solarized.pidgin]
row=6
col=6

[/home/jpuellmann/Desktop/puppet-pubkey.asc?version=1]
row=6
col=2

[/home/jpuellmann/Desktop/chromedir]
row=4
col=4

[/home/jpuellmann/Desktop/sslcertswork]
row=3
col=5

[/home/jpuellmann/Desktop/nohup.out]
row=3
col=0

[/home/jpuellmann/Desktop/fsv-0.9]
row=5
col=0

[/home/jpuellmann/Desktop/svn]
row=1
col=6

[/home/jpuellmann/Desktop/f1]
row=9
col=3

[/home/jpuellmann/Desktop/hiera-eyaml-gpg.recipients]
row=4
col=2

[/home/jpuellmann/Desktop/untitled.sublime-workspace]
row=10
col=1

[/home/jpuellmann/Desktop/list]
row=5
col=4

[/home/jpuellmann/Desktop/yum_debug_dump-blacktop-2015-04-15_19:27:15.txt.gz]
row=4
col=1

[/home/jpuellmann/Desktop/Vagrantfile]
row=11
col=2

[/home/jpuellmann/Desktop/output.pdf]
row=0
col=5

[/home/jpuellmann/Desktop/tmp]
row=11
col=5

[/home/jpuellmann/Desktop/epel-subscription-manager.repo]
row=7
col=2

[/home/jpuellmann/Desktop/yum_debug_dump-blacktop-2015-06-05_12:07:12.txt.gz]
row=0
col=6

[/home/jpuellmann/Desktop/geppetto]
row=9
col=21

[/home/jpuellmann/Desktop/results.txt]
row=3
col=3

[/home/jpuellmann/Desktop/Info.plist]
row=8
col=1

[/home/jpuellmann/Desktop/sublime_text_3]
row=3
col=4

[/home/jpuellmann/Desktop/stash]
row=10
col=2

[/home/jpuellmann/Desktop/LIVE.tgz]
row=10
col=6

[/home/jpuellmann/Desktop/source]
row=4
col=6

[/home/jpuellmann/Desktop/out]
row=7
col=6

[/home/jpuellmann/Desktop/eyaml-test-file]
row=5
col=2

[/home/jpuellmann/Desktop/launch.ica]
row=7
col=0

[/home/jpuellmann/Desktop/swpoc-s1]
row=3
col=2

[/home/jpuellmann/Desktop/hadoop-ks-params]
row=10
col=3

[/home/jpuellmann/Desktop/yum_debug_dump-blacktop-2015-06-02_18:23:03.txt.gz]
row=2
col=3

[/home/jpuellmann/Desktop/users]
row=5
col=3

[/home/jpuellmann/Desktop/Phone Backup]
row=0
col=2

[/home/jpuellmann/Desktop/Videos]
row=0
col=3

[/home/jpuellmann/Desktop/user_details.txt]
row=8
col=2

[/home/jpuellmann/Desktop/channels and repos - Sheet3.csv]
row=4
col=3

[/home/jpuellmann/Desktop/mock]
row=4
col=5

[/home/jpuellmann/Desktop/Music]
row=2
col=4

[/home/jpuellmann/Desktop/mikhail_encrypt_ver​3.eyaml]
row=2
col=1

[/home/jpuellmann/Desktop/users.csv]
row=2
col=2

[/home/jpuellmann/Desktop/bin.bak]
row=9
col=20

[/home/jpuellmann/Desktop/zip]
row=8
col=4

[/home/jpuellmann/Desktop/spacecmd]
row=10
col=5

[/home/jpuellmann/Desktop/foo]
row=1
col=3

[/home/jpuellmann/Desktop/Telegram]
row=11
col=3

[/home/jpuellmann/Desktop/Calendar]
row=11
col=20

[/home/jpuellmann/Desktop/VMs]
row=1
col=5

[/home/jpuellmann/Desktop/git]
row=10
col=21

[/home/jpuellmann/Desktop/new]
row=7
col=3

[/home/jpuellmann/Desktop/Go]
row=1
col=4

[/home/jpuellmann/Desktop/auth]
row=7
col=20

[/home/jpuellmann/Desktop/dwhelper]
row=6
col=21

[/home/jpuellmann/Desktop/NexDef]
row=2
col=6

[/home/jpuellmann/Desktop/Downloads]
row=1
col=1

[/home/jpuellmann/Desktop/notes.infra-18726.txt]
row=9
col=2

[/home/jpuellmann/Desktop/bin]
row=0
col=8

[/home/jpuellmann/Desktop/bin.del]
row=10
col=20

[/home/jpuellmann/Desktop/input.csv]
row=3
col=6

[/home/jpuellmann/Desktop/Documents]
row=0
col=1

[/home/jpuellmann/Desktop/src]
row=9
col=1

[/home/jpuellmann/Desktop/status.html]
row=5
col=5

[/home/jpuellmann/Desktop/lpg4.xsp]
row=6
col=3

[/home/jpuellmann/Desktop/pssh]
row=0
col=4

[/home/jpuellmann/Desktop/install.sh]
row=7
col=1

[/home/jpuellmann/Desktop/input.gz]
row=6
col=1

[/home/jpuellmann/Desktop/123]
row=11
col=0

[/home/jpuellmann/Desktop/cdpe]
row=11
col=1

[/home/jpuellmann/Desktop/Dropbox]
row=5
col=21

[/home/jpuellmann/Desktop/test.xsp]
row=8
col=5

[/home/jpuellmann/Desktop/p3]
row=10
col=4

[/home/jpuellmann/Desktop/rpmbuild]
row=7
col=4

[/home/jpuellmann/Desktop/chatlogs]
row=9
col=6

[/home/jpuellmann/Desktop/repos.csv]
row=2
col=5

[/home/jpuellmann/Desktop/expect]
row=7
col=21

[/home/jpuellmann/Desktop/det]
row=8
col=6

[/home/jpuellmann/Desktop/test.pp]
row=9
col=4

[/home/jpuellmann/Desktop/old]
row=8
col=3

[/home/jpuellmann/Desktop/deb]
row=0
col=21

[/home/jpuellmann/Desktop/Torrents]
row=7
col=5

[/home/jpuellmann/Desktop/postgresql]
row=11
col=4

[/home/jpuellmann/Desktop/ApacheDirectoryStudio-linux-x86_64-2.0.0.v20130628]
row=6
col=20

[/home/jpuellmann/Desktop/untitled.sublime-project]
row=11
col=6

[/home/jpuellmann/Desktop/fpmdir]
row=8
col=21

[/home/jpuellmann/Desktop/vagrants]
row=0
col=7

[/home/jpuellmann/Desktop/mail]
row=6
col=5

[/home/jpuellmann/Desktop/Desktop]
row=4
col=0

[/home/jpuellmann/Desktop/github]
row=11
col=21

[/home/jpuellmann/Desktop/subtasks]
row=5
col=1

[/home/jpuellmann/Desktop/txt]
row=9
col=5

[/home/jpuellmann/Desktop/errata]
row=10
col=0

[/home/jpuellmann/Desktop/Calibre Library]
row=9
col=0

[/home/jpuellmann/Desktop/p3.bak]
row=6
col=4

[/home/jpuellmann/Desktop/Desktop.bak]
row=2
col=21

[/home/jpuellmann/Desktop/Podcasts]
row=5
col=6

[/home/jpuellmann/Desktop/ReText-5.1.0]
row=8
col=0

[/home/jpuellmann/Desktop/Pictures]
row=1
col=2

[/home/jpuellmann/Desktop/gpg.asc]
row=3
col=1

[3637-3438]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jpuellmann]
row=2
col=0

