[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jpuellmann/Desktop/Prison Architect.desktop]
row=4
col=0

[/home/jpuellmann/Desktop/Kerbal Space Program.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jpuellmann]
row=2
col=0

